@import "./var.scss";

button {
  display: flex;
  align-items: center;
  outline: none;
  background: inherit;
  border: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 0.3em;
  &:hover {
    transform: scale(1.05);
    i {
      color: $secondary;
    }
  }
  &:active {
    transform: scale(0.9);
  }
}
