section.side-bar {
  position: relative;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  height: 100%;
  .side-bar__heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #fff;
  }
  form {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    input {
      text-align: center;
    }
    .span-link {
      margin-top: 1em;
      text-align: center;
      font-size: 0.8em;
      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
