/* Break points */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* Margin et padding */
$containerPadding: 1.5em;

/* Colors */
$primary: inherit;
// $primary: rgb(49, 148, 254);
// $primary: #009a9e;
$secondary: inherit;
$red: rgb(244, 45, 65);

/* General styling */
$radius: 1em;
