<section class="side-bar">
  <div class="side-bar__heading">
    <h1>Upload an app</h1>
    <button (click)="onClose()">
      <i class="ri-close-line ri-xl"></i>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="onUploadApp()">
    <fieldset>
      <label for="add-app-name">Name</label>
      <input
        type="text"
        formControlName="name"
        id="app-name"
        placeholder="My app"
      />
    </fieldset>
    <fieldset>
      <label for="add-app-description">Description</label>
      <textarea
        id="app-description"
        formControlName="description"
        placeholder="This is my first app"
      >
      </textarea>
    </fieldset>
    <fieldset>
      <label for="add-app-file">Apk file</label>
      <input
        id="add-app-file"
        formControlName="app"
        type="file"
        accept=".apk"
        #file
        hidden
        (change)="onLoadFile($event)"
      />
      <button type="button" (click)="file.click()" class="upload-button">
        Upload file
      </button>
      <p>{{ form.get("app").value }}</p>
    </fieldset>
    <fieldset>
      <label for="add-app-image">App image</label>
      <input
        id="add-app-image"
        formControlName="image"
        type="file"
        accept="image/png, image/jpeg, image/jpg"
        #image
        hidden
        (change)="onLoadImage($event)"
      />
      <button type="button" (click)="image.click()" class="upload-button">
        Upload file
      </button>
      <p>{{ form.get("image").value }}</p>
    </fieldset>
    <button>Upload</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    <div class="error-message-heading">
      <h2>Error</h2>
      <button (click)="onCloseErrorMessage()">
        <i class="ri-close-line ri-xl"></i>
      </button>
    </div>
    <p>{{ errorMessage }}</p>
  </div>
</section>
