@import "../../../assets/css/var.scss";

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $containerPadding;
  h2 {
    padding: 0 1em;
    overflow: hidden;
    text-align: center;
    font-size: 0.8em;
  }
  background: #fff;
  // // Apple effect
  // background: rgba(255, 255, 255, 0.5);
  // backdrop-filter: blur(1em);
  // -webkit-backdrop-filter: blur(1em);
}

.margin {
  margin-bottom: 5em;
}
